
.etudiant-file{
    gap: var(--gapm);
    flex-flow: row wrap;
    align-items: start;

    h1{
        font-size: var(--fontxl);
    }
    section{
        flex: 1;
        min-width: 300px;

        >div{
            width: 100%;
            display: flex;
            flex-flow: row;
            gap: var(--gapm);
        }
    }
    header{
        display: flex;
        flex-flow: column;
        align-items: start;
        gap: 0;

        p{
            font-size: var(--fontxxs);
        }
    }
}