
.home{
    flex: 1;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;

    &>div{
        text-transform: uppercase;
        font-weight: 800;
        font-size: var(--fontHuger);
        display: flex;
    }
    &>span{
        display: block;
    }
    &>.typed-cursor{
        font-size: var(--fontHuger);
    }

    & main{
        display: flex;
        flex-flow: row wrap;
        gap: var(--gapHuge);
        position: absolute;
        opacity: 1;
        pointer-events: all;
        color: var(--colorMaisD);
        transition: opacity 2s ease-in;

        & section{
            flex: 1;
            min-width: 300px;
            height: 200px;

            &:first-of-type{
                width: var(--homeType);
            }
            &:last-of-type{
                flex-grow: 0;
            }
        }
    }
}

