
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    display: block;
    text-decoration: none;
    color: inherit;
    max-width: max-content;
}
li{
    list-style: none;
    text-decoration: none;
}