@import url(./config/variables.css);
@import url(./config/reset.css);
@import url(./config/body-template.css);

@import url(./font/font.css);
@import url(./layout/general.css);
@import url(./layout/dialog.css);

@import url(./app/home.css);
@import url(./app/formulaire.css);
@import url(./app/pagination.css);
@import url(./app/table.css);
@import url(./app/logo.css);
@import url(./app/nav.css);
@import url(./app/etudiant-file.css);
@import url(./app/info.css);

@import url(./states/hidden.css);
@import url(./states/error.css);

@import url(./buttons/btn.css);