
body{
    background-color: var(--colorLight);
    color: var(--colorDark);
}
main{
    flex: 1;
    padding: var(--gapl);
    display: flex;
    flex-flow: column;
    align-items: center;

    section{
        display: flex;
        flex-flow: column;
        gap: var(--gapm);
        width: 100%;
    }
}
header{
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: var(--gapm);
    justify-content: space-between;

    & h1{
        text-transform: uppercase;
        font-weight: 400;
    }
}
footer{
    max-width: none;
    background-color: var(--colorDark);
    color: var(--colorLight);

    >div{
        max-width: 1400px;
        margin: auto;
        display: flex;
        flex-flow: row;
        gap: var(--gapm);
        justify-content: space-between;
        padding: var(--gapTHxxs);
        font-size: var(--fontxxs);
    
        div{
            display: flex;
            flex-flow: column;
            gap: var(--gapTHxxs);
    
            &:last-of-type{
                text-align: right;
            }
        }
    }
}